.ContactMe{
  flex-grow:1;
  display:flex;
  flex-direction:column;
  justify-content: center;
  .message{
    min-height:300px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    .textLine{
      padding:10px 0px 10px 0px;
    }
    .textLine1{
      font-size:40px;
      font-weight:bold;
      font-family:'Major Mono Display';
      .animation1{
        animation: questionSign 4s cubic-bezier(.36,.07,.19,.97) infinite;
        // border:1px solid red;
        display:inline-block;
      }
      @keyframes questionSign {
        0% {
         transform: translate(0px,0px);
        }
        20%{
          transform: translate(-15px,0px);
        }
        22% {
          transform: translate(4px,0px);
        }
        29% {
          transform: translate(-2px,0px);
        }
        35% {
          transform: translate(1px,0px);
        }
        26% {
          transform: translate(-1px,0px);
        }
        40% {
          transform: translate(0px,0px);
        }
      }
    }
    .textLine2{
      font-size:34px;
      font-family:'Noto Serif SC';
      .monitor{
      animation: monitor 3s cubic-bezier(.36,.07,.19,.97) infinite;
    }
      @keyframes monitor {
        0% {
         transform: rotateY(0deg) translate(0px,0px);
        }
        100% {
          transform: rotateY(360deg) translate(0px,0px);
        }
      }
    }
    .textLine3{
      font-size:34px;
      font-weight:bold;
      font-family: 'Amatic SC';
      .bug{
        height:20px;
        width:20px;
        animation: bug 10s cubic-bezier(.36,.07,.19,.97) infinite;
      }
      @keyframes bug {
        0% {
         transform: rotateZ(0deg) translate(0px,0px);
         opacity:1;
        }
        10% {
         transform: rotateZ(-90deg) translate(0px,00px);
        }
        15% {
         transform: rotateZ(-90deg) translate(0px,-20px);
        }
        20% {
         transform: rotateZ(-180deg) translate(20px,0px);
         opacity:1;
        }
        30% {
         transform: rotateZ(-720deg) translate(10px,0px);
         opacity:0;
        }
        31%{
          transform: rotateZ(0deg) translate(-10px,0px);
        }
        32%{
          transform: rotateZ(0deg) translate(0px,0px);
        }
        80%{
          opacity:1;
        }
      }
    }
    .textLine4{
      font-size:28px;
      font-weight:bold;
      font-family: 'Oranienbaum';
    }
  }
  .mediaContainer{
    .ContactIcon{
      width:60px;
      height:60px;
      border-radius:50%;
      margin:5px;
    }
    .ContactIcon:hover{
      animation: hoverIcon 1s cubic-bezier(.36,.07,.19,.97) both;
      box-shadow:0px 0px 5px black;
    }
    @keyframes hoverIcon{
      0%{
        transform: rotate(0deg);
      }
      90%{
        transform: rotate(726deg);
      }
      100%{
        transform: rotate(720deg);
      }
    }
  }

}

@media screen and (max-width:500px){
  .ContactMe{
      justify-content: flex-start;
    .message{
      .textLine1{
      font-size:30px;
      }
      .textLine2{
      font-size:30px;
      }
      .textLine3{
      font-size:25px;
      }
      .textLine4{
      font-size:16px;
      }
    }
    .mediaContainer{
      .ContactIcon{
        width:40px;
        height:40px;
        border-radius:50%;
        margin:5px;
      }
    }
  }
}
