
.Projects-container{
  .projects-disclaimer{
    font-size: clamp(14px, 1vw, 30px);
    margin: 10px;
    .text{
    color: white;
    mix-blend-mode: difference;
    }
  }
  .Projects{
    min-height:600px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
  }
}
