.Projects{
  min-height:600px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  .sidetab{
  border:1px solid red;
  }
  .ant-tabs-nav .ant-tabs-tab{
    // margin:0px 0px 0px 0px;
    color:black;
    border:1px solid green;
    width:auto;
    padding:10px 0px 10px 0px !important;
    text-align:center;
  }
  .ant-tabs-nav .ant-tabs-tab-active{
    color:black;
    width:auto !important;
    // border:1px solid red;

  }
}
